*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262626;
}
.main{
    position: relative;
    height: 100vh;
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 15px solid #ff5f5f;
    background:url("./clock.png") #fff;
    background-size: cover;
    box-shadow: -2px 2px #e23232,inset 0 0 20px rgba(0,0,0,0.5);
}
.clock::before{
    content: "";
    height: 6px;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #262626;
    border-radius: 3px;
    animation: animate 48s linear infinite;
    transform-origin: left;

}
.clock::after{
    content: "";
    height: 6px;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #262626;
    animation: animate 4s linear infinite;
    transform-origin: left;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
.father{
    position: relative;
    height: 100%;
    background-color: transparent;
}
span{
    width: 12px;
    height: 12px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
}